@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

body{
    background-color: burlywood;
}
.app-name{
    background-color: blueviolet;
    text-align: center;
    color: gainsboro;
}
button{
    color: azure;
    background-color: deepskyblue;
    border-radius: 7px;
    width: 90px;
    padding: 7px;
    margin: 10px;
    border: none;
    
}
input{
    padding: 7px;
    color: deepskyblue;
    border-radius: 7px;
    font-style: italic;
    width: 300px;
    border: none;
} */